.list_movie {
    .padding-class {
        border: 1px solid $c-gray-4;
    }

    .movie-brand {
        width: 100%;
        height: 605px;

        .nav1 {
            .movie-nav-link {
                position: relative;

                &:hover.movie-nav-link::before {
                    opacity: 0;
                }

                img {
                    margin-top: $pd-1 + 5;
                    margin-bottom: $pd-1 + 5;
                    width: 50px;
                    height: 50px;
                }
            }

            .movie-nav-link.active::before {
                opacity: 0;
            }

            .movie-nav-link::after {
                content: "";
                width: 60px;
                height: 1px;
                background-color: $c-gray-4;
                position: absolute;
                bottom: 0;
                left: -9%;
            }

            .movie-nav-link::before {
                content: "";
                background-color: $c-white-0;
                opacity: 0.6;
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                transition: all 0.3s;

                &:hover {
                    content: "";
                    opacity: 0;
                }
            }
        }
    }

    .movie-place {
        border-left: 1px solid $c-gray-4;
        padding-top: $pd-0;

        .nav-link {
            background-color: transparent;
        }

        .movie-place_list {
            width: 100%;
            height: 605px;
            overflow-x: hidden;
            overflow-y: scroll;

            .movie-place_link {
                position: relative;
                width: 282px;
                height: 80px;
                overflow-x: hidden;

                .movie-place_para {
                    width: 80%;
                    padding: 0 $pd-1;

                    p {
                        margin: 0;
                    }

                    p:nth-child(1) {
                        @include textStyle($fs-0, $fw-normal, $c-black-0);
                        margin: 0;
                    }

                    p:nth-child(2) {
                        @include textStyle($fs-1, $fw-normal, $c-gray-0);
                        margin: 0;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }

                    span {
                        @include textStyle($fs-1, $fw-bold, $c-orange-0);
                    }
                }

                .movie-place_content {
                    p {
                        width: 300px;
                    }
                }
            }

            .movie-place_link.active {
                .movie-place_content::before {
                    opacity: 0;
                }
            }

            .movie-place_content::before {
                content: "";
                background-color: $c-white-0;
                opacity: 0.6;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                position: absolute;
                transition: all 0.3s;
            }

            .movie-place_content:hover::before {
                opacity: 0;
            }

            img {
                width: 50px;
                height: 50px;
            }
        }

        .movie-place_detail {
            width: 100%;
            height: 605px;
            overflow-x: hidden;
            overflow-y: scroll;

            .movie-time {
                position: relative;

                .movie-time-1 {
                    display: flex;
                    align-items: center;
                    margin-top: $mg-2;

                    img {
                        width: 50px;
                        height: 50px;
                    }

                    .movie-time-para {
                        margin-top: $mg-1;
                        margin-left: $mg-2 - 3;
                        overflow-x: hidden;

                        p {
                            margin: 0;
                        }

                        p:nth-child(1) {
                            @include textStyle($fs-0, $fw-bold, $c-black-0);
                        }

                        P:nth-child(2) {
                            @include textStyle($fs-1, $fw-normal, $c-gray-0);
                            margin-top: $mg-0;
                        }
                    }
                }

                .movie-type {
                    @include textStyle($fs-2 - 2, $fw-bold, $c-black-0);
                    margin-top: $mg-1;
                    margin-bottom: $mg-0;
                }

                .movie-time-2 {
                    span {
                        @include textStyle($fs-2, $fw-bold, $c-green-0);
                        margin-right: $mg-0 + 3;
                        transition: all 0.3s;
                    }

                    .movie-time-2_time {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        @include textStyle($fs-0, $fw-normal, $c-gray-0);
                        border: 1px solid $c-gray-4;
                        padding: $pd-0;
                        border-radius: $border-radius;
                        background-color: $c-gray-1;
                        margin-bottom: $mg-2;
                        cursor: pointer;

                        &:hover {
                            span {
                                color: $c-orange-0;
                            }
                        }
                    }
                }
            }

            .movie-time::after {
                content: "";
                width: 96%;
                height: 1px;
                background-color: $c-gray-4;
                position: absolute;
                bottom: 0;
            }
        }

        .border-class {
            border-right: 1px solid $c-gray-4;
        }
    }
    /* width */
    ::-webkit-scrollbar {
        width: 5px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: #e8e3e3;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #c5c1c1;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
}

@include respond("medium") {
    .list_movie .movie-brand {
        padding: 0 5px;
    }

    .movie-time-2_time {
        padding: 0 !important;
        display: block !important;
        text-align: center;

        span {
            display: block !important;
        }
    }
}

@include respond("small") {
    .list_movie {
        display: none;
    }

    .nav1 {
        .movie-nav-link {
            img {
                width: 40px;
                height: 40px;
            }
        }
    }
}
